$primary-1: #e7e7e7;
$primary-dark: #bbb;

$facebook-hover-color: #3b5998;
$twitter-hover-color: #28a9e1;
$linkedin-hover-color: #0077b5;
$instagram-hover-color: #f1742d;
$youtube-hover-color: #ff0000;

$text-primary-color: #505050;
$text-hover-color: #000000;


