@import '../../../styles/colors';
@import '../../../styles/var';

.app-header {
  border-bottom: 2px solid $primary-dark;
  background-color: $primary-1;
  color: $text-primary-color;
  position: fixed;
  top: 0;
  width: 100%;

  .header-content {
    margin: auto;
    max-width: $responsive-width-large;

    .header-right-panel {
      display: inline-block;
      float: right;
    }

    .header-left-panel {
      display: inline-block;
      padding: 18px;
    }
  }

  .sign-up-in-panel {
    height: 59px;
    display: flex;
    flex-direction: row;
  }

  .header-button {
    display: inline;
    padding: 18px;
    font-size: 20px;
    color: $text-primary-color;

    .fa {
      margin-right: 10px;
    }

    a {
      text-decoration: none;
      color: $text-primary-color;
    }

    a:hover {
      color: $text-hover-color;
    }

    &:hover {
      color: $text-hover-color;
    }
  }

  .user-panel-container {
    margin-top: 10px;
  }
}
